@model HomeServiceModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .img-carousel {
        width: 100px;
        height: 460px;
        object-fit: cover;
    }
</style>
<h1 class="text-center mb-5">Welcome to Criminal Station</h1>
<div id="carouselExampleIndicators" class="carousel slide border border-dark" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        @if (Model.TopThreeItems.Count() != 0 && Model != null)
        {
            @for (int i = 0; i < 3; i++)
            {
                <div class="carousel-item @(i==0?"active":"")">
                    <div class="carousel-caption d-none d-md-block align-bottom overflow-auto">
                        <div>
                            <h5 class="text-dark container-fluid">@Model.TopThreeItems[i].Name</h5>
                            <p class="text-dark ">$@Model.TopThreeItems[i].Price</p>
                            <a class="btn btn-primary" asp-route-id="@Model.TopThreeItems[i].Id" asp-controller="Item" asp-action="Details">View More</a>
                        </div>
                    </div>
                    <img class="d-block w-100 img-carousel" src="@Model.TopThreeItems[i].MainImgUrl" alt="First slide">
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev text-danger" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="jumbotron mt-4" id="statistics">
    <div class="row">
        <h2 class="col-md-6 text-center">Total Users @Model.TotalUsers</h2>
        <h2 class="col-md-6 text-center">Total Adds @Model.TotalAdds</h2>
    </div>
</div>
