@model UserItemsAdminModel
@{
    ViewBag.Title = "Items";
}

@if (Model.Items.Count == 0)
{
    <h1 class="text-center text-secondary">User @Model.Username has no adds.</h1>
}
else
{
    <h1 class="text-center mb-3">User @Model.Username Adds</h1>
    <table class="table table-bordered">
        <thead>
            <tr class="table-success text-center">
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Created On</th>
                <th scope="col">Last Update On</th>
                <th scope="col" class="col-lg-2">Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td class="w-25">
                        <img src="@Model.Items[i].MainImgUrl" class="img-fluid img-thumbnail" width="150" height="110" alt="Sheep">
                    </td>
                    <td>@Model.Items[i].Name</td>
                    <td>$@Model.Items[i].Price</td>
                    <td>@Model.Items[i].CreatedOn.ToString("MM/dd/yyyy H:mm")</td>
                    <td>@Model.Items[i].LastUpdate.ToString("MM/dd/yyyy H:mm")</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Items" asp-action="Edit" asp-route-id="@Model.Items[0].Id"><div class="btn btn-success mr-1">Edit</div></a>
                        <a asp-area="Admin" asp-controller="Items" asp-action="Delete" asp-route-id="@Model.Items[0].Id" asp-route-accountId="@Model.Id"><div class="btn btn-danger mr-1">Delete</div></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
